.verify-content .verify-step2 {
	margin-top:5.4rem
}
.verify-content .verify-info {
	margin-bottom:3.75rem
}
.verify-content .verify-title {
	padding-bottom:1rem;
	font-size:1.8rem;
	margin-bottom:2.2rem;
	border-bottom:1px solid #d5d5d5
}
.verify-content .table-verify-image>thead>tr>td:nth-of-type(4),.verify-content .table-verify-image>tbody>tr>td:nth-of-type(4) {
	width:70px;
	text-align:center
}
.verify-content .verify-action .btn {
	width:20px;
	min-width:20px;
	height:20px;
	padding:0;
	margin-right:10px;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	transition:all 0.4s ease
}
.verify-content .verify-action .btn:last-child {
	margin-right:0
}
.verify-content .verify-action .btn i {
	font-size:1rem;
	line-height:19px
}
.verify-content .verify-action .btn:hover {
	opacity:0.7
}
.verify-content .form-group-upload {
	margin-top:1.7rem;
	padding-top:2rem;
	position:relative
}
.verify-content .form-group-upload .progress {
	position:absolute;
	width:100%;
	top:0
}
.verify-content .form-group-upload .custom-file,.verify-content .form-group-upload .custom-file-input {
	cursor:pointer
}
.verify-content .form-group-upload .custom-file-label {
	cursor:pointer;
	padding:1.8rem 1rem 1.8rem 15rem;
	display:flex;
	align-items:center
}
.verify-content .form-group-upload .custom-file-label:after {
	content:"CHỌN TỆP";
	padding:1.8rem 3.2rem;
	right:auto;
	left:0;
	border-left:0;
	border-right:1px solid #d5d5d5;
	background:#f2f3f8;
	cursor:pointer;
	border-radius:0
}
.verify-content .form-group-upload .input-group-append .btn {
	padding-left:3.8rem;
	padding-right:3.8rem;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px
}
@media (max-width:420px) {
	.custom-file-label {
			display:flex;
			align-items:center
	}
}
@media (max-width:639px) {
	.verify-content .verify-info {
			margin-bottom:2rem
	}
	.verify-content .verify-step2 {
			margin-top:4rem
	}
}
@media (max-width:567px) {
	.verify-content .form-group-upload .input-group-append .btn {
			padding-left:1rem;
			padding-right:1rem;
			height:4.2rem
	}
	.verify-content .form-group-upload .custom-file-label,.verify-content .form-group-upload .custom-file-input {
			height:4.2rem
	}
	.verify-content .form-group-upload .custom-file-label {
			padding-left:9.5rem
	}
	.verify-content .form-group-upload .custom-file-label:after {
			padding-left:1rem;
			padding-right:1rem
	}
	.verify-content .form-group-upload .custom-file-label::after {
			height:calc(4.2rem - 1px * 2);
			padding-top:1.25rem;
			padding-bottom:1.25rem
	}
}