.section-wrong {
	background:#0b1f34
}
.section-wrong .title {
	font-size:1.8rem;
	font-weight:bold;
	margin-bottom:3.6rem
}
.section-wrong .inner {
	background:#0b1f34 url(../Images/bg_register_login.png) no-repeat right center;
	margin-right:0;
}
.section-wrong .section-form-inner {
	margin-left:10.3rem
}
.section-wrong .reset-password-g {
	text-align:right;
	font-size:1.3rem;
	margin-bottom:3rem
}
.section-wrong .reset-password-g .link-reset-password {
	color:#b2b2b2;
	text-decoration:none
}
.section-wrong .form-md-group {
	margin-top:2.5rem;
	margin-bottom:2.5rem
}
.section-wrong .form-md-group .form-control {
	background:transparent;
	color:#fff !important;
	border-bottom:1px solid rgba(255,255,255,0.2)
}
.section-wrong .form-md-group select.form-control {
	color:#888 !important
}
.section-wrong .form-md-group.no-form-control {
	border-bottom:1px solid rgba(255,255,255,0.2)
}
.section-wrong .ref-info {
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:wrap
}
.section-wrong .ref-info dt,.section-wrong .ref-info dd {
	margin:0;
	padding:0;
	font-weight:normal
}
.section-wrong .ref-info dt {
	padding-right:0.5rem;
	color:rgba(255,255,255,0.5)
}
.section-wrong .ref-info dd {
	color:#ffc107
}
.section-wrong .form-login-button {
	margin-top:3.5rem;
	margin-bottom:0.75rem
}
@media (max-width:979px) {
	.section-wrong .inner {
		-ms-background-size:auto 60%;
		-moz-background-size:auto 60%;
		-webkit-background-size:auto 60%;
		background-size:auto 60%
	}
}
@media (max-width:767px) {
	.section-wrong {
		background:#0b1f34
	}
	.section-wrong .inner {
		margin-right:0;
		-ms-background-size:auto 50%;
		-moz-background-size:auto 50%;
		-webkit-background-size:auto 50%;
		background-size:auto 50%
	}
	.section-wrong .inner .section-form-inner {
		margin-left:auto
	}
}
@media (max-width:640px) {
	.section-wrong .inner {
		margin-right:0;
		-ms-background-size:auto 50%;
		-moz-background-size:auto 50%;
		-webkit-background-size:auto 50%;
		background-size:auto 50%
	}
	.section-wrong .inner .section-form-inner {
		margin-left:auto
	}
}
@media (max-width:639px) {
	.section-wrong {
		padding-top:4rem;
		padding-bottom:4rem
	}
	.section-wrong .title {
		margin-bottom:3.2rem
	}
	.section-wrong .form-group-info {
		margin-top:1rem
	}
	.section-wrong .btn-social-list {
		margin-top:0.2rem;
		padding-top:4rem;
		border-top:1px solid #1a2f44
	}
	.section-wrong .btn-social-list ul {
		margin-left:-2rem;
		margin-right:-2rem
	}
	.section-wrong .btn-social-list ul>li {
		padding-left:2rem;
		padding-right:2rem
	}
	.section-wrong .inner {
		padding-top:0;
		padding-bottom:0
	}
}
@media (max-width:567px) {
	.section-wrong .inner {
		-ms-background-size:auto 35%;
		-moz-background-size:auto 35%;
		-webkit-background-size:auto 35%;
		background-size: auto 35%
	}
}